:root{
    //color
    --color-white-00: #ffffff;
    --color-white-01:#efefef;;
    --color-gray-00:#cacad6;
    --color-gray-01:#b2b2bb;
    --color-darkgray-00:#59595d;
    --color-darkgray-01:#3f4144;
    --color-darkgray-02:#36373a;
    --color-black:#080808;
    --color-light-black:#353d3d;
    --color-yellow-00:#e0bb42;
    --color-yellow-01:#cea72a;
    --color-orange:#e77213;
    --color-skyblue:#2aa8ce;

}

header {
    width: 100%; 
    .inner {
        width: 1180px; height: 100px; margin:0px auto;
        position: relative;

        h1{
            position: absolute; left: 0px; bottom: 45px;
            a{
                font: bold 14px/1 'open sans'; color: var(--color-darkgray-00); font-weight: 300;
                letter-spacing: 1px;
            }
            :hover{
                background-color: var(--color-white-00);
                transform:scale(1.2);
            }
        }

        #gnb {
            position: absolute;bottom: 41px;right: 0px;

            li{
                float:left;  padding: 10px 30px;

                a {
                    display: inline-block; 
                    font: 13px/1 'open sans'; color:var(--color-darkgray-00); font-weight: 300;
                }
                :hover{                  
                  background-color: var(--color-white-00);
                  transform:scale(1.2);
                }
              
            }
        }
    }
}

main {
    padding: 10px 0px;

    >.inner{
        width: 1180px;min-height:500px; margin:0px auto;        
        }
    }

footer {
        width: 100%; 
        background:var(--color-white-01);
        
        .footer__inner {
          width: calc(100% - 160px); 
          margin: 0px auto; 
          padding: 50px 0px;
      
          .footer__top {
            width: 100%;
            margin-bottom: 100px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
      
            i{
              margin-right: 20px;
              color:var(--color-darkgray-00);
              font-size: 40px;
            }
            h1{
              font:20px bold 'open sans';
              color:var(--color-darkgray-00);
            }
            
            .footer__top__inner {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-wrap: wrap;
              padding:50px;
              
              
              .footer__menu, .footer__address {
                margin-right:100px;
          
                li {
                  
                  font: 13px/1 'open sans';
                  margin-bottom: 9px;
                  color:var(--color-darkgray-00);
                  cursor: pointer;

                  a{
                    color:var(--color-darkgray-00);

                  }
        
                  &:nth-of-type(1) {
                    margin-bottom: 30px;
                    cursor: default;
                  }
          
                  &:nth-of-type(4) {
                    margin-bottom: 20px;
                  }
                }
              }
        
              .footer__menu{  
                li {
                  &:nth-of-type(4) {
                    margin-bottom: 10px;
                  }
                }
              }
            }
          }
        }
      }
      
          .footer__bottom {
            padding-top:10px;
            width: 100%;
            border-top: 1px solid var(--color-gray-01);
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
      
            .footer__bottom__left {
              display: flex;
              flex-direction: column;
              
              p {
                font: 12px/2 'open sans';
                color:var(--color-gray-01);
                cursor: default;
              }
            }
      
            .footer__bottom__right {
              display: flex;
              flex-direction: column;
              align-items: center;
      
              &::after {
                content: '';
                display: block;
                clear: both;
              }
      
              .footer__sns {
                margin-bottom: 20px;;
                li {
                  float: left;
                  
                  cursor: pointer;
      
                  i {
                    font-size: 18px;
                    color:var(--color-gray-01);
                  }
                }
               }
            }
          }
        
      







