:root{
    //color
    --color-white-00: #ffffff;
    --color-white-01:#dfdfe9;
    --color-gray-00:#cacad6;
    --color-gray-01:#b2b2bb;
    --color-darkgray-00:#59595d;
    --color-darkgray-01:#3f4144;
    --color-darkgray-02:#36373a;
    --color-black:#080808;
    --color-yellow-00:#e7f271;
    --color-yellow-01:#cea72a;
    --color-orange:#e77213;
    --color-skyblue:#2aa8ce;

    // font size
    --font-large: 30px;
    --font-medium: 24px;
    --font-regular: 18px;
    --font-small: 14px;
    --font-micro: 12px;
}

header {
    width: 100%; 
    .inner {
        width: 1180px; height: 100px; margin:0px auto;
        position: relative;

        h1{
            position: absolute; left: 0px; bottom:20px;
            a{
                font: bold 26px/1 "dosis"; color: var(--color-darkgray-00);
            }
            :hover{
                background-color: yellow;
            }
        }

        #gnb {
            position: absolute;bottom: 0px;right: 0px;

            li{
                float:left;  padding: 10px 30px;

                a {
                    display: inline-block; 
                    font: 16px/1 "dosis"; color:var(--color-darkgray-00);
                }
                :hover{
                    background-color: yellow;}
              
            }
        }
    }
}

main {
    padding: 10px 0px;

    >.inner{
        width: 1180px;min-height:500px; margin:0px auto;

        
        }
    }



footer {
    width: 100%; border-top: 1px 
    solid #ddd; padding: 50px 0px; 

    .inner {
        width: 1180px; margin: 0px auto; text-align: center;
        
        p{
            font:12px/1 "dosis"; color: rgb(157, 162, 171); text-align: center;
        }
    }
}

@media screen and (max-width: 1179px){
    header {
        .inner {
            width: 100%;
            h1 {
                left: 3vw;
            }
            #gnb {
                display: none;
            }
        }
    }

    main{
        padding: 80px 40px;

        .inner{
            width: 100%;
        }
    }

    footer{
        .inner{
            width: 100%;
        }
    
    }
}