:root{
    //color
    --color-white-00: #ffffff;
    --color-white-01:#efefef;;
    --color-gray-00:#cacad6;
    --color-gray-01:#b2b2bb;
    --color-gray-02:#a0a0a7;
    --color-darkgray-00:#727279;
    --color-darkgray-01:#3f4144;
    --color-darkgray-02:#36373a;
    --color-black:#080808;
    --color-light-black:#131212;
    --color-yellow-00:#e0bb42;
    --color-yellow-01:#cea72a;
    --color-orange:#c68651;
    --color-skyblue:#2aa8ce;
    
}

* {
    margin: 0px; padding: 0px; box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
a{
    text-decoration: none;
    outline: 0;
}
body {
    background:var(--color-white-01);
    //background-color: var(--color-light-black);
    //background-color: var(--color-darkgray-01);
   
}