#brand{
    width:100%; 
    height: 100vh;
    padding:100px 0; 
    margin-bottom:100px;
    background:var(--color-white); 
    border: 1px solid red;

 
    .brand__inner{
        width:1180px; 
        margin:0 auto; 
 
        >h1{
        font-size:30px;
        text-align: center;
        padding-bottom: 20px;
       }
 
        .brand__wrap{
            width:100%; 
 
            .brand__txt{
                width:380px; 
                height:620px; 
                background:#444; 
                float:left; 
                margin-right:20px; 
                padding:170px 50px 0px;   
                text-align:center; 
    
                i{
                   font-size:100px; 
                   color:#fff; 
                   margin-bottom:20px; 
                }
                h2{
                   font:bold 20px/1 'arial'; 
                   color:#fff; 
                   margin-bottom:10px;  
                }
                p{
                   font:14px/1.3 'arial'; 
                   color:#999; 
                   margin-bottom:30px; 
                }
                a{
                   display:block; 
                   width:150px; 
                   height:30px; 
                   font:11px/30px 'arial'; 
                   color:#ddd; 
                   text-align:center; 
                   border:1px solid #bbb; 
                   margin:0 auto;
                }
             }
            .brand__pic1{
                width:380px; 
                height:300px; 
                
                float:left; 
                margin-right:20px;
 
                img{
                   width:100%; 
                   height:100%; 
                   object-fit:cover; 
                }
             }
            .brand__pic2{
                width:380px; 
                height:300px; 
                background:#444; 
                float:left; 
 
                img{
                   width:100%; 
                   height:100%; 
                   object-fit:cover; 
                }
             }
            .brand__pic3{
                width:780px; 
                height:300px; 
                float:left; 
                margin-top:20px; 
                position:relative;
 
                img{
                   width:100%; 
                   height:100%; 
                   object-fit:cover; 
                }
             }
          }
       }
}