#visual {
  width: 100%;  height: 85vh;
  
  .visual__txt01{
    font:212px/190px
    'roboto';
    font-weight: 900;
    color:var(--color-white-01);
    position: absolute;
    top:80px; left:30px;
    overflow: hidden;
    opacity:.9;
    
  }

  .visual__txt02{
    
    font:10px normal 'dosis';
    font-weight: 300;
    color:var(--color-white-01);
    position: absolute;
    top:350px; 
    left:550px;
    display:none;
  }
  
   
  img{
    width: 100%;  height: 100%;
    object-fit: cover;
  }
}


