.community {
    .inner {
        padding-top:150px;
        padding-bottom:150px;
        article {
            //background-color: var(--color-darkgray-01);
            background-color: yellow;
            padding: 20px 10px;
            margin-bottom:20px;
            border-top: 1px dashed rgb(247, 242, 242);
            border-bottom: 1px dashed rgb(247, 247, 247);
            ;
            display: flex;
            
            justify-content: space-between;
        
            
            h1{
                font-weight: normal;
                color:var(--color-darkgray-01);
                font-size: 15px;
            
           
                
            .dateandwriter {
                span {
                    font-size: 15px;
                    color: var(--color-darkgray-01);
                }
                em {
                    margin-left:20px;
                    font-size: 15px;
                    font-style: normal;
                    color: var(--color-darkgray-01);
                }
                //:hover{color: var(--color-yellow-01);
                    
                }
            }
        }
    }  
}