.community {
    .inner {
        padding-top:150px;
        padding-bottom:150px;
        article {
            padding: 20px 10px;
            margin-bottom:20px;
            border-top: 1px dashed rgb(247, 242, 242);
            border-bottom: 1px dashed rgb(247, 247, 247);
            ;
            display: flex;
            
            justify-content: space-between;
        
            
            h1{
                font-weight: normal;
                color:white;
                font-size: 15px;
            
            }
            :hover{
                color: var(--color-skyblue);}
                
            .dateandwriter {
                span {
                    font-size: 15px;
                    color: white;
                }
                em {
                    margin-left:20px;
                    font-size: 15px;
                    font-style: normal;
                    color: white;
                }
                :hover{
                    color: var(--color-yellow-01);
                    
                }
            }
        }
    }  
}            
