#department{
    width:100%; 
    height: 180vh;
    padding: 50px 0px;

    .department__inner{
    width:1180px; 
    margin:0 auto; 
        .department__top__txt{
            height: 50px;
            border-bottom: 1px solid var(--color-gray-01);
            margin-bottom: 30px;
            h1{
                font:20px 'open sans';
                color:var(--color-darkgray-01);
                font-weight: 300;
                padding-bottom: 20px;
                letter-spacing: 1px;
                margin-left:1030px;
            }
        }

        

            .department__content{
                height: 890px;
                border-bottom: 1px solid var(--color-gray-01);
                .department__content__txt {
                    width:100%; 
                    height:200px;
                    padding:30px 0px 50px 0px;   
                    text-align:center; 
                    i{
                       font-size: 22px;
                       color: var(--color-white-00);
                       padding:0px 2px 10px 2px;
                       
                    }
                    h2{
                       font: 16px 'open sans';
                       letter-spacing: 1px;
                       color: var (--color-darkgray-00);
                       padding-bottom: 20px;
                    }
                    p{
                       font: 14px 'open sans';
                       color: var(--color-darkgray-00);
     
                   }
                }

                .department__content__pics{ 
                    width: 1180px;
                    

                    .department__content__pic1{
                        width:580px; 
                        height:300px; 
                        
                        float:left; 
                        margin-right:20px;
        
                       img{
                          width:100%; 
                          height:100%; 
                          object-fit:cover; 
                          filter:brightness(1.1);
                       }
                    }
                    .department__content__pic2{
                       width:280px; 
                       height:300px; 
                       float:left; 
                       margin-right:20px;
        
                       img{
                          width:100%; 
                          height:100%; 
                          object-fit:cover; 
                          filter:brightness(1.2);
                       }
                    }
                    .department__content__pic3{
                        width:280px; 
                        height: 300px;
                        float:left; 
                        margin-right:0px;
                        position:relative;
         
                        img{
                           width:100%; 
                           height:100%; 
                           object-fit:cover; 
                           filter:brightness(1.1);
                        }
                 }
                 .department__content__pic4{
                    width:280px; 
                    height:300px; 
                    float:left; 
                    margin-right:20px; 
                    margin-top:20px;
                    margin-bottom:100px;
                    position:relative;
                    border: 1px solid var(--color-gray-01);
     
                    .department__content__pic4__txt {
                       padding:25px;
                       text-align: center;
                       overflow: hidden;
                       
                       >p{
                        font: 14px 'open sans';
                       color: var(--color-darkgray-00);
                        display:none;
                       }
                      
                    }
             }
                .department__content__pic5{
                width:880px; 
                height:300px; 
                float:left; 
                margin-right:0px; 
                margin-top:20px;
                margin-bottom:100px;
                position:relative;
                filter:brightness(1.1);
 
                img{
                   width:100%; 
                   height:100%; 
                   object-fit:cover; 
                }
                &:hover{
                    filter:brightness(.7); transition: 1s;
                }
         }
                 
                 }

            }

    .department__wrap{
                width: 100%;
                margin:0 auto;

            .department__members{ 
                
                article{
                width: 33%;
                margin:0 auto;
                float:left;
                padding:10px;
                
                .department__pic{
                    width: 100%;
                    height: 400px;
                    overflow: hidden;
                    

                    img{
                        filter: grayscale(.8);
                        width:100%; 
                        height:100%; 
                        object-fit:cover;
                        transition:0.7s;
                        
                    }
                    :hover{
                        filter: none;
                    }
                }
                .department__description{
                    width: 100%;
                    height: 120px;
                    h3{
                        font:16px 'open sans';
                        color:var(--color-darkgray-01);
                        font-weight: 300;
                        //float:right;
                        padding:20px;
                        padding-bottom: 0px;
                    }
                    p{
                        font:14px 'open sans';
                        color:var(--color-darkgray-00);
                        font-weight: 300;
                        padding: 10px 0px 0px 20px;

                    }
                }
            }
            }
        }
    }
}



