#department{
    width:100%; 
    height:100vh;
    padding: 0px 0px;
    

    .department__inner{
        width:1180px; 
        margin:0 auto; 
        >h1{
            font-size:30px;
            text-align: center;
            padding-bottom: 20px;
            }
    
            .department__wrap{
                width:100%; 
    
                article{
                width:25%; 
                float:left; 
                padding:20px;
            
    
                .pic{
                    width:100%; 
                    height:75vh; 
                    overflow:hidden;
                    
                    
                    img{
                        width:100%; 
                        height:100%; 
                        object-fit:cover;
                        transition:0.7s; 
                        filter: grayscale(1);
                    }
    
                    &:hover img{
                        filter: none;
                        transform: scale(1.1);
                        transition: all 0.7s;
                    }
                }
                h2{
                    text-align: center;
                    padding:10px;
                    font: var(--font-regular);
                    
    
                }
            }
        }
    }
}