.gallery {
    .inner {
        >section{
            &::after{
                content:""; display: block; clear : both;
            }

            article {
                width: 25%; height: 300px; float:left; padding:20px;

                >.inner{
                    width: 100%; height: 100%; background:#fff;
                    box-shadow: 5px 5px 10px rgba(0,0,0,.1); padding: 18px;

                    .pic {
                        width: 100%; height: 180px; margin-bottom: 20px; 

                        img {
                            width: 100%; height: 100%; object-fit: cover;
                        }
                    }

                    h2 {
                        font: normal 14px/1.2 "dosis"; color:#777;
                        text-align: center;
                    }
                }

            }
        }
    }

    .pop {
            width: 100%; height:100vh; position: fixed; top: 0px; left: 0px; background: rgba(0,0,0,.9); padding: 5vw; 

            img {
                width: 100%; height: 100%; object-fit:contain;
            }
            p {
                font: 14px/1.2 "dosis"; color: #fff; text-align: center;
            }

            span {
                font: bold 14px/1 "dosis"; color: #fff;
                position: absolute; top: 3vw; right: 5vw;
                cursor: pointer;
            }    
    }   
}