  .join {
    width:100%;
    .inner {
      width:80%;
      margin: 0 auto;
      position:relative;
      padding:60px;
      

       fieldset{
        border:5px solid var(--color-white-00);
        box-shadow: 5px 5px 10px var(--color-gray-00);
        //padding:20px;
        
        table {
          width: 100%;
          background-color: var(--color-white-00);;
          padding: 0px;
          
          th, td {
          padding: 10px 20px;
          }
    
          th {
            width: 25%; 
            text-align: center;
            font: bold 14px/1 'dosis';
            color:var(--color-darkgray-00);

            
    
            &.btnSet {
              text-align: center;  border-right: none;
    
              input[type=reset], input[type=submit] {
                width: 120px;
                height: 40px;
                text-align: center;
                margin: 10px;
                cursor: pointer;
                transition: 0.5s;
                border:none;
                color:var(--color-white-00);
                background-color: var(--color-orange);
                font: bold 16px 'dosis';
                    
                &:hover {
                  background:var(--color-white-00);
                  color:var(--color-darkgray-02);
                }
              }
            }
          }

          td {
            input[type=text], input[type=password], select {
              width: 70%; padding: 10px 20px; 
            }
            textarea {
              width: 70%; height: 150px; padding: 10px 20px;
              resize: none;
            }
            label {
              font: 14px/1 'dosis'; color:var(--color-darkgray-02); margin-right: 8px;
              
            }
            input[type=radio], input[type=checkbox] {
              margin-right: 20px;
            }
          }
        }
      }
      

      .err {
        font: 12px/1 'sans'; color:var(--color-orange);
      }
  }
}
//tablet//
@media screen and (max-width:1179px){

    .inner {
      width:100%;
      padding:50px;
    
          th {
            width: 25%; 
            text-align: center;
            font: bold 20px/1 'dosis';
             
    
    
              input[type=reset], input[type=submit] {
                width: 30%;
              
                font: bold 16px 'dosis';
                    
             
                }
              }
            }
          }

          td {
            input[type=text], input[type=password], select {
              width: 60%; padding: 10px 20px; 
            }
            textarea {
              width: 60%; height: 150px; padding: 10px 20px;
              resize: none;
            }
            label {
              font: 16px/1 'dosis'; color:var(--color-darkgray-02); margin-right: 8px;
              
            }
            input[type=radio], input[type=checkbox] {
              margin-right: 20px;
            }
          }
    



//mobile//
@media screen and (max-width:539px){

  .join {
    .inner {
      width:100%;
      fieldset{
          table {
          width: 100%;
          
          th, td {
            border-bottom: 1px solid rgb(28,42,43);
            padding: 15px 30px;
          }
    
          th {
            font: 16px/1 'dosis';
            color:var(--color-darkgray-00);
    
            &.btnSet {
              text-align: center;  
              border-right: none;
    
              input[type=reset], input[type=submit] {
                width:20%;
                height: 45px;
                font:bold 16px/45px 'dosis';
              }
            }
          }
          td {
            input[type=text], input[type=password], select {
              width: 80%; 
            }
            textarea {
              width: 80%; 
            }
            label {
              font: 14px/1 'dosis'; 
              color:var(--color-darkgray-02);
            }
            input[type=radio], input[type=checkbox] {
              margin-right: 20px;
            }
          }
        }    
      }
      .err {
        font: 16px/1
      }
    }
  }
}

