.location {
  width: 100%;
  height: 100vh;
  padding:50px 0px;
    .location__inner{
      width:1180px; 
      margin:0 auto; 
          .location__top__txt{
              height: 50px;
              border-bottom: 1px solid var(--color-gray-01);
              margin-bottom: 30px;
              h1{
                  font:20px 'open sans';
                  color:var(--color-darkgray-01);
                  font-weight: 300;
                  padding-bottom: 20px;
                  letter-spacing: 1px;
                  margin-left:1030px;
              }
          }
          #map{
            width: 100%; height: 500px; 
            filter: grayscale(.5);
            background-color: var(--color-gray-01);
            margin-bottom: 20px;
            }
            .traffic {
              float: left;
              display: flex;
              li {
                width: 100px;
                height: 30px;
                color:var(--color-white-00);
                background: var(--color-orange);
                font: 14px/30px 'dosis';
                text-align: center;
                cursor: pointer;
                margin-right: 5px;
                &:hover {
                  transition: 0.7s;
                  background: var(--color-white-00);
                  color:var(--color-darkgray-01);
                }
              }
            }
            .branch {
              float: right;
              display: flex;
              li {
                width: 80px;
                height: 30px;
                color:var(--color-light-black);
                background: var(--color-white-00);
                font: 14px/30px 'dosis';
                text-align: center;
                cursor: pointer;
                margin-right: 8px;
                &:last-child{
                  margin-right:0px;
                }
    
                &.on {
                  color:var(--color-light-black);
                  transition: 0.7s;
                  background: var(--color-orange);
                }
              }
      }
    }
  }
