.youtube {
    .inner {
      .frame {
        &::after {
          content: ""; display: block; clear: both;        
        }
  
        article {
          width: 50%; height: 48vh; float: left;
          padding: 20px; overflow: hidden; 
  
          .inner {
            width: 100%; height: 100%; background: #fff; box-shadow: 5px 5px 15px rgba(0,0,0,.1); padding: 20px;
            display: flex; flex-wrap: wrap;

  
            .txt {
              h2 {
                font: 17px/1.2 "dosis"; color: rgb(90, 102, 98); margin-bottom: 20px;
              }
  
              p {
                font: 12px/1.2 "dosis"; color: rgb(152, 172, 165);margin-bottom: 20px;
              }
            }
  
  
            .pic {
              width: 100%; height: 200px;              
              &:hover{
                transform:scale(1.05);
                transition:1.5s;
              }
              img {
                width: 100%; height: 100%; object-fit: cover; filter: grayscale(1);
              }
              &:hover{
                  img{
                      filter: none;
                      transition:all 0.5s;
                      
                  }
              }
            }
        
          }
        }
        
    }
    .pop {
      width: 100%; height: 100vh; position: fixed; top: 0px; left: 0px; background: rgba(0,0,0,.9); padding: 5vw;

      iframe {
        border: none; width: 100%; height: 100%;
      }

      span {
        position: absolute; top: 3vw; right: 5vw; 
        font: bold 14px/1 "dosis"; color: #fff; cursor: pointer;
      }
    }
  }
} 