@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Licorice&family=Raleway:wght@100&display=swap');


$web : 1199px;
$tablet : 739px;
$mobile : 539px;



//common
@import "common/reset";
@import "common/layout";

//main
@import "main/visual";
@import "main/info";
@import "main/brand";
@import "main/banner";

//sub
@import "sub/department";
@import "sub/community";
@import "sub/gallery";
@import "sub/youtube";
@import "sub/location";
@import "sub/join";



